<!-- header -->
<app-header></app-header>

<!-- Cart page starts-->
<div class="cart">
    <div class="total-amount">
        Total amount: ${{cartTotal | number: '1.2-2'}}
    </div>

    <ng-container *ngIf="!cartData?.length || !cartData">
        <p class="empty-cart">
            Your cart is empty!!
        </p>
    </ng-container>
    <div class="container cart-products" *ngIf="cartData">
        <div class="cart-card" *ngFor="let products of cartData; let i = index">
            <mat-card class="product-card">
                <mat-card-header>
                    <img mat-card-sm-image [src]="products.product.image">
                    <mat-card-title-group>
                        <div class="title">
                            <mat-card-title>{{products.product.title}}</mat-card-title>
                        </div>

                        <div class="sub-content">
                            <span class="price">$ {{products.product.price | number: '1.2-2'}}</span>
                            <span class="icons">
                                <mat-icon (click)="onDecrementCartItem(products.id)">remove</mat-icon>
                                <span class="quantity">{{products.quantity}}</span>
                                <mat-icon (click)="onIncrementCartItem(products.id)">add</mat-icon>
                                <mat-icon color="warn" (click)="onRemoveCartItem(products.id)">delete</mat-icon>
                            </span>
                        </div>
                    </mat-card-title-group>
                </mat-card-header>

                <mat-card-content>
                    <p class="description" matTooltip={{products.product.description}}>{{products.product.description}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="backButton">
        <button mat-raised-button color="primary" routerLink="/">
            <mat-icon>arrow_back</mat-icon>
            Continue Shopping
        </button>
    </div>
</div>
<!-- Cart page ends-->